<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/qutcssa/public/static/jquery-3.2.1.min.js"></script>
    <style type="text/css" rel="stylesheet">
        a:visited {color: #0000FF}
        a:hover {color: #FF0000}
        a{ text-decoration:none}
    </style>
</head>
<body>
<center>
    <h2>添加商品类别</h2>
    <form action="/qutcssa/public/index.php/handler" method="post" name="tf" style="margin-top: 1vw">
        <input name="t" value="add_type" style="display: none;">
        想要添加的商品类别：<input type="text" name="name">
        <input type="submit" value="添加">
    </form>
    <h2>删除商品类别</h2>
    <table cellpadding="3" width="50%" border="1" cellspacing="0">
        <tr>
            <td style="width: 50%;">商品类型</td>
            <td style="width: 50%;">删除</td>
        </tr>
        {volist name="result" id="vo"}
        <tr>
            <td style="width: 50%;">{$vo.type}</td>
            <td style="width: 50%;"><button onclick="del({$vo.id})">删除</button></td>
        </tr>
        {/volist}
    </table>
</center>
</body>
<script>
    var url = 'https://www.yiluzou.cn/qutcssa/public/index.php/handler';
    function del(id) {
        $.ajax({
            url: url,
            type:'POST',
            dataType:'json',
            data:{
                "id": id,
                "t": "del_shoptype"
            },
            success:function (result) {
                if (result.code == "200"){
                    alert("成功");
                }else {
                    alert(result.msg);
                }
                window.location.href = "{:url('main')}";
            },
            error:function (result) {
                alert("失败");
            }
        });
    }
</script>
</html>